body {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: lightblue;
    height: 50px;
}

ul {
    display: flex;
    margin: 0;
    list-style: none;
    gap: 15px;
    /* justify-content: space-evenly; */
    padding-left: 0;
}

a {
    text-decoration: none;
}