body {
    margin: 0;
    background-color: lightblue;
}

nav {
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    background-color: aliceblue;
    /* height: 0px; */
    border: 2px solid gray;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    padding-left: 0;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: lightblue;
    padding: 10px;
    border-radius: 10%;
}

#home {
   margin-right: auto;
}


/* Media Queries */
@media (max-width: 768px) {
    body {
        background-color: white;
    }

    ul {
        flex-direction: column;
    }

}

@media (max-width: 600px) {
    body {
        background-color: lightgray;
    }


}
