body {
    margin: 0;
    background-image: url("../assets/images/cafe.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 99;
    opacity: 0;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.dropdown-menu a {
    color: white;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    transition: 0.5s;
}

#home {
    margin-right: auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding-left: 0;
}

nav {
    background-color:white;
    padding: 20px; 
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-size: 18px;
}


