@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Titillium+Web:wght@400;600&display=swap');

h1 {
    /* color:blue; */
    background-color: lightpink;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background-color: lavender;
    margin: 0;
  
}

#birds {
    background-color: lightsalmon;
    border: purple 2px solid;
    margin: 20px;
    padding: 20px;
    text-align: center;
    /* height: 500px; */
    width: 300px;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}

p {
    color:aliceblue;
}

.purple-text {
    color: purple;
    font-style: italic;
}


#birds {
    background-color: lightsalmon;
    border: purple 2px solid;
    margin: 20px;
    padding: 20px;
    text-align: center;
    /* height: 500px; */
    width: 300px;
}

#float {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

#float p {
    color: black;
}

#floated-img {
    float:right;
}


/* color */
/* background-color */
/* font-size */
/* font-family */
/* border */
/* margin */
/* padding */
/* width */
/* height */
